@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz@6..12&family=Raleway&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container {
  background-color: #5bd7e8;
}
.logo-div {
  display: flex;
  flex-direction: column;
}
.logo-div img {
  width: 5%;
}
.activatr {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.banner-container {
  width: 100%;
  height: 500px;
  background-color: #5bd7e8;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heading-container {
  width: 60%;
  text-align: center;
}
.heading-container img {
  /* margin-left: 10px; */
}
.banner-img-container {
  width: 30%;
}
.heading {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-size: 96px;
  color: #4700ff;
  transform: rotate(-1.52deg);
  line-height: 134.4px;
}
.heading-standout {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-size: 100px;
  line-height: 140px;
  letter-spacing: 1.5%;
  color: #ff007f;
  transform: rotate(-2.19deg);
}
.sidebar-container {
  /* border-left: 3px solid #FF018F; */
  align-self: center;
}
.home-div-container {
  display: flex;
  flex-direction: row;
}
.home-left-div {
  width: 95%;
}
.home-right-div {
  width: 5%;
  border-left: 3px solid #ff018f;
  display: flex;
  justify-content: center;
}
.tagline-container {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  position: relative;
  height: 150px;
  font-style: italic;
}
.tagline-container h3 {
  color: #4a0292;
}
.stroke-div {
  background-image: url("./assets/stroke.png");
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 90%;
}
.scribble {
  position: absolute;
  top: 40px;
  left: 500px;
}
.stroke {
  position: absolute;
  order: 1;
}
.navbar-slide {
  width: 100%;
  height: 700px;
  background-color: #ff007f;
}
#navbar-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  animation: slide-in-from-left 0.5s ease-in-out forwards;
}

@keyframes slide-in-from-left {
  from {
    right: 0%;
  }
  to {
    right: -100%;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.navbar-left-div {
  width: 80%;
}
.navbar-option {
  /* padding: 0px ; */
}
.navbar-option li {
  text-align: left;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 64px;
  font-weight: 600;
  padding: 20px 50px;
}
.navbar-right-div {
  width: 20%;
}
.home-slider-container {
  height: 100px;
  width: 100%;
  background-color: #5bd7e8;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.campaign-ideas-container {
  width: 100%;
  height: 1000px;
  background-color: #ff007f;
}
.campaign-heading-container {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.campaign-heading-container h1 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-size: 70px;
  color: #ffff;
  text-shadow: -12px -1px 4px #4700ff;
}
#imageContainer {
  overflow: hidden;
}
.imageWrapper {
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.imageWrapper img {
  width: 200px;
  height: auto;
}
.image-fade-container {
  width: 50%;
  margin: auto;
}
.image {
  width: 85%;
  height: auto;
  transition: transform 1s ease-in-out;
}
.know-more-container {
  text-align: center;
}
.btn-know-more {
  border-radius: 15px;
  background-color: #f3cb3b;
  padding: 10px 20px;
  border: none;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #000;
  width: 25%;
}
.metric-measures-container {
  width: 100%;
  height: 900px;
  background-color: #f2dafb;
  display: flex;
}
.metric-measures-div {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 700px;
  justify-content: space-around;
  align-items: center;
}
.metric-measures-heading {
  width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
}
.metric-measures-heading img {
  width: 100%;
}
.metric-measures-slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.metric-measures-card-container-slider {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vw;
}

.metric-measures-card {
  background-color: #9e04c5;
  border-radius: 3vw;
  width: 35%;
  /*height: 550px;*/
  height: 100%;
  color: #fff;
  padding: 2vw;
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.metric-measures-card img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}
.metric-measures-card h2 {
  font-size: 4vw;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  line-height: 6vw;
}
.metric-measures-card p {
  font-size: 1.5vw;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}
.metric-measures-card-sm {
display: flex;
    background-color: #9e04c5;
    border-radius: 3vw;
    width: 16%;
/*    height: 550px;*/
    height: 100%;
    color: #fff;
    padding: 2vw;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.metric-measures-card-sm h2 {
  font-size: 2vw;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  transform: rotate(270deg);
/*  margin-top: 150px;*/
  display: flex;
    align-items: center;
    justify-content: center;
}
.metric-measures-card-sm img {
  width: 80%;
}
.metric-measures-card-ellipse {
    background-image: url(./assets/Ellipse.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 40%;
    background-position: center;
    display: flex;
}
.create-campaign-container {
  width: 100%;
  height: 750px;
  background-color: #f3cb3b;
}
.create-campaign-heading {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}
.create-campaign-heading h1 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-size: 70px;
  color: #2f42dc;
  text-shadow: -10px -1px 2px #ffff;
}
.create-campaign-img {
  width: 50%;
  margin: auto;
  display: flex;
  position: relative;
}
.campaign1 {
  /* width: 50%; */
  height: 250px;
}
.campaign2 {
  height: 350px;
}
.campaign3 {
  height: 400px;
}
.campaign-details {
  width: 100%;
  height: 800px;
  background-color: #4700ff;
  display: flex;
  flex-direction: row;
  /* max-height: 90vh; */
  /* overflow-y: auto; */
  /* padding: 20px; */
}
.campaign-details-sidebar {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.sidebar-menus-div {
  display: block;
}
.campaign-details-sidebar-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.campaign-details-sidebar-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 20px 0px;
  /* justify-content: center; */
}
.campaign-details-sidebar-menu h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #ffff;
  width: 100%;
}
.campaign-details-main-container {
  width: 65%;
  height: 750px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-self: center;
  text-align: center;
  display: block;
  /* align-items: center; */
}
.campaign-details-main-container-heading {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.campaign-details-main-container h1 {
  font-family: "Kanit", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  color: #3d159f;
  text-align: center;
}
.campaign-details-main-container-card-section {
  width: 90%;
  margin: auto;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}
.campaign-details-main-container-card-section-2 {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0px;
}
.duration-campaign {
  /* margin: 40px 0px; */
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}
.duration-campaign h3 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 500;
  font-size: 24px;
  color: #0f0f0f;
  padding: 20px 0px;
}
.duration-campaign select {
  background-color: #3c159f88;
  padding: 5px;
  width: 50%;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 20px 0px;
}
.contact-detail-div {
  display: flex;
  flex-direction: row;
  padding: 60px 0px;
}
.contact-detail-div form {
  width: 60%;
}
.contact-detail-div img {
  width: 40%;
}
.form-data {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  margin: auto;
  width: 90%;
  /* height: 650px; */
}
.form-data label {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.text-input {
  border: 2px solid #4700ff;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
}
.text-area {
  width: 80%;
  border: 2px solid #4700ff;
  border-radius: 5px;
  padding: 10px;
  height: 100px;
}
.done-div {
  background-color: #4700ff;
  width: 100%;
  height: 750px;
  text-align: center;
  justify-content: center;
}
.done-div button {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #2f42dc;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 30%;
}
.done-div h1 {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}
.done-img-div {
  width: 100%;
  margin: auto;
  display: flex;
  height: auto;
  flex-direction: column;
  position: relative;
}
.sparkle {
  /* height: 200px; */
}
.done-img {
  /* height: 550px; */
  position: absolute;
  left: 20%;
}
.metric-measures-card-ellipse-metric-4 {
  background-image: url("./assets/Ellipse34.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
height: 40%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.metric-measures-card-ellipse-metric5 {
  background-image: url("./assets/Ellipse35.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
    height: 40%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-navigation-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 10%;
    flex-direction: row;
    align-items: center;

}
.btn-go-back {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-decoration: underline;
  color: #9e04c5;
  background-color: transparent;
  border: none;
}
.campaign-details-main-container-card {
  text-align: center;
}
.campaign-details-main-container-card h3 {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.campaign-details-main-container-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 80px;
  gap: 20px;
  /* background-color: #3d159f; */
}

.campaign-details-div {
  width: 100%;
  height: 650px;
}
.footer {
  /* height: 500px; */
  width: 100%;
  background-color: #000;
}
.footer-upper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col-1 {
  width: 20%;
  padding: 20px 10px;
}
.col-2 {
  width: 40%;
  padding: 20px 10px;
}
.rows {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  gap: 5px;
  padding: 10px 0px;
}
.rows p {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  color: #fff;
  /* font-weight: ; */
}
.col-3 {
  width: 40%;
  padding: 20px 10px;
}
.footer-lower {
  text-align: center;
  width: 100%;
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  color: #fff;
}
/*#metric1 {
  display: block;
}
#metric1-mini {
  display: none;
}
#metric2-mini {
  display: block;
}
#metric2 {
  display: none;
}
#metric3-mini {
  display: block;
}
#metric3 {
  display: none;
}
#metric4-mini {
  display: none;
}
#metric4 {
  display: none;
}
#metric5-mini {
  display: none;
}
#metric5 {
  display: none;
}
#metric6-mini {
  display: none;
}
#metric6 {
  display: none;
}
#filled-circle-1 {
  display: block;
}
#non-filled-circle-1 {
  display: none;
}
#filled-circle-2 {
  display: none;
}
#non-filled-circle-2 {
  display: block;
}
#filled-circle-3 {
  display: none;
}
#non-filled-circle-3 {
  display: block;
}
#filled-circle-4 {
  display: none;
}
#non-filled-circle-4 {
  display: block;
}
#filled-circle-5 {
  display: none;
}
#non-filled-circle-5 {
  display: block;
}
#filled-circle-6 {
  display: none;
}
#non-filled-circle-6 {
  display: block;
}
#back-btn {
  display: none;
}
#section-1 {
  display: block;
}
#section-2 {
  display: none;
}
#section-3 {
  display: none;
}
#section-4 {
  display: none;
}
#section-5 {
  display: none;
}*/
#next-btn-campaign {
  display: block;
  background-color: #4700ff;
  width: 25%;
  padding: 10px;
  color: #fff;
  border: none;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
#back-btn-campaign {
  display: none;
}
#next-btn {
  border: none;
  background-color: transparent;
}
.back-btn-camp {
  color: #5e20ff;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
.filled-circle{
width: 2%;
height: auto;
object-fit: contain;
}
#pera{
    display: flex;
    height: 40%;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
